<div class="jumbotron">
    <h1 class="display-4">App Activity Monitoring!</h1>
    <p>It's Sails.js app.</p>
    <hr class="my-4">
    <p class="lead">
        Tracking app activity better.
    </p>
    <p class="lead"><a href="/user/signup" class="btn btn-success btn-lg">Sign up</a></p>
</div>